p{
  margin-left: 80px; font-size: 18px; margin-right: 80px
}
h2{
  margin-left: 80px
}
h3{
  margin-left: 80px
}
li{
 margin-left:300px;
 color: blue;
  font-size: 18px;
}

.item{
  margin-left: 80px; list-style: "-";margin-right: 80px 
}

.none{
  color: black; list-style: "–"; 
  }

.underline{
  text-decoration: underlane;
    text-decoration-color: green; 
}
a {
  color: black;
}
h1{
  margin-left:60px; margin-right:60px;
    text-align: left
}
img{
  margin-top: 10px
}
